<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina web para personas con dificultades visuales</title>
    <link rel="stylesheet" href="../css/Black-home.css">
</head>
<body>
    <header>
        <div>
            <div class="logo_rectangle">
            <img src="../storage/img/black-home/Rectangle 1.png" alt="Logo"></div>
            </h2>AQUA</h2>
        </div>
            <div class="logo_Aqua">
            <img src="../storage/img/black-home/akar-icons_water.png" alt="Logo"></div>


        <nav>
        <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Cómo jugar</a></li>
        <li><a href="#">Apóyanos</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        </ul>
        </nav>
        <hr>
        </header>
        <section class="hero">
            <h1>CRAE</h1>
            <p>Somos creatividad, somos Crae</p>
            <p>Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual pueden participar y disfrutar en conjunto.</p>
            <img src="../storage/img/black-home/Vector.png" alt="carrito de compra">
        </section>
        
        <section class="how-to-play">
            <h2>¿Cómo jugar?</h2>
            <p> Crae posee una modalidad de juego definidas
                <br> siempre appoyamos la creatividad y que <br>
                <br> crees tus propias reglas y modalidades. <br>
            </p>
        
                